<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">猛势科技</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="{{gold}}"><a href="/home/qingxu/index">情绪(黄金)</a></li>
        <li class="{{eurusd}}"><a href="/home/qingxu/eurusd">情绪(欧元)</a></li>
        <li class="{{gbpusd}}"><a href="/home/qingxu/gbpusd">情绪(英镑)</a></li>
        <li class="{{ddqzgold}}"><a href="/home/ddqz/index">多单权重(黄金)</a></li>
        <li class="{{ddqzeur}}"><a href="/home/ddqz/eurusd">多单权重(欧元)</a></li>
        <li class="{{ddqzgbp}}"><a href="/home/ddqz/gbpusd">多单权重(英镑)</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
