<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">猛势科技</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown" style="margin-left:20px">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">情绪<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li class="{{gold}}"><a href="/home/qingxu/index">情绪(黄金)</a></li>
            <li class="{{eurusd}}"><a href="/home/qingxu/eurusd">情绪(欧元)</a></li>
            <li class="{{gbpusd}}"><a href="/home/qingxu/gbpusd">情绪(英镑)</a></li>
            <li class="divider"></li>
          </ul>
        </li>

        <li class="dropdown" style="margin-left:20px">
          <a class="dropdown-toggle" data-toggle="dropdown">多单权重行情<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li class="{{ddqzbgold}}"><a href="/home/ddqzb/index">多单权重行情(黄金)</a></li>
            <li class="{{ddqzbeur}}"><a href="/home/ddqzb/eurusd">多单权重行情(欧元)</a></li>
            <li class="{{ddqzbgbp}}"><a href="/home/ddqzb/gbpusd">多单权重行情(英镑)</a></li>
            <li class="divider"></li>
          </ul>
        </li>

        <li class="dropdown" style="margin-left:20px">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">历史权重比<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li class="{{lsqzbgold}}"><a href="/home/lsqzb/index">历史权重比(黄金)</a></li>
            <li class="{{lsqzbeur}}"><a href="/home/lsqzb/eurusd">历史权重比(欧元)</a></li>
            <li class="{{lsqzbgbp}}"><a href="/home/lsqzb/gbpusd">历史权重比(英镑)</a></li>
            <li class="divider"></li>
          </ul>
        </li>

        <li style="margin-left:20px"><a href="http://192.168.1.118:8010 ">数据分析</a></li>
      </ul>
    </div>
  </div><!-- /.container-fluid -->
</nav>
