{% extends "../common/layout_home.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="https://os.alipayobjects.com/rmsportal/UBXCMkzNVlaZYNs.css">
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
{% endblock %}

{% block js %}
<script src="https://a.alipayobjects.com/jquery/jquery/1.11.1/jquery.js"></script>
<script src="http://cdn.bootcss.com/echarts/3.3.2/echarts.common.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
{% endblock %}

{% block connect %}
<div id="main" style="width:90%;height:700px;"></div>
<script>
function splitData(rawData) {
  var time = [];
  var zxj = [];
  var xqqzz = [];
  var xhqzz = [];
  for (var i = 0; i < rawData.length; i++) {
      time.push(rawData[i][0]);
      zxj.push(rawData[i][1]);
      xqqzz.push(rawData[i][2]);
      xhqzz.push(rawData[i][3]);
  }
  return {
      time: time,
      zxj: zxj,
      xqqzz: xqqzz,
      xhqzz: xhqzz
  };
}
// $.getJSON('http://rmapi.niupixuan.me/v1/interest/bili?symbol=GOLD ',function(rawData){
// $.getJSON('http://rmapi.niupixuan.me/v1/interest/bili?symbol=GBPUSD',function(rawData){
// $.getJSON('http://rmapi.niupixuan.me/v1/interest/bili?symbol=EURUSD',function(rawData){
$.getJSON('/static/json/data-ddqzb-index.json',function(rawData){
    var data = splitData(rawData);
    var myChart = echarts.init(document.getElementById('main'));
    window.onresize = myChart.resize;
    myChart.setOption(option = {
        animation: true,
        title: {
            text: '多单权重行情（黄金）',
            left: 'center',
        },
        legend: {
            right: '8%',
            top:'51%',
            data: ['息前权重值','息后权重值'],
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'line'
            },
        },
        grid: [
            {
                left: '10%',
                right: '8%',
                height: '35%',
            },
            {
                left: '10%',
                right: '8%',
                top: '54%',
                height: '35%',
            },
        ],
        xAxis: [
            {
                type: 'category',
                data: data.time,
                boundaryGap : false,
                axisLine: {onZero: false},
                splitLine: {show: true},
                axisLabel:{margin : 18},
                min: 'dataMin',
                max: 'dataMax',
            },
            {
                type: 'category',
                gridIndex: 1,
                data: data.time,
                scale: true,
                boundaryGap : false,
                axisLine: {onZero: false},
                axisTick: {length :5},
                splitLine: {show: true},
                axisLabel: {show: true,
                margin : 18},
                splitNumber: 20,
                min: 'dataMin',
                max: 'dataMax',
            }
        ],
        yAxis: [
            {
                name : '最新价',
                scale: true,
                splitArea: {
                    show: true,
                },
            },
            {
                name : '权重值',
                type: 'value',
                gridIndex: 1,
                scale: true,
                splitArea: {
                    show: true,
                },
            },
        ],
        dataZoom: [
            {
                type: 'inside',
                xAxisIndex: [0,1],
                start: 45,
                end: 50,
            },
            {
                show: true,
                xAxisIndex: [0,1],
                type: 'slider',
                top: '95%',
                start: 45,
                end: 50,
            },
        ],
        series: [
            {
                name: '最新价',
                type: 'line',
                data: data.zxj,
                smooth: true,
            },
            {
                name: '息前权重值',
                type: 'line',
                xAxisIndex: 1,
                yAxisIndex: 1,
                data: data.xqqzz,
            },
            {
                name: '息后权重值',
                type: 'line',
                xAxisIndex: 1,
                yAxisIndex: 1,
                data: data.xhqzz,
            },
        ]
    }, true);
  });
  </script>
{% endblock %}
