{% extends "../common/layout_home.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="https://os.alipayobjects.com/rmsportal/UBXCMkzNVlaZYNs.css">
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
{% endblock %}

{% block js %}
<script src="https://a.alipayobjects.com/jquery/jquery/1.11.1/jquery.js"></script>
<script src="http://cdn.bootcss.com/echarts/3.3.2/echarts.common.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
{% endblock %}

{% block connect %}
<div id="main" style="width: 2000px;height:1000px;"></div>
<script>
function splitData(rawData) {
  var time = [];
  var zxj = [];
  var sf = [];
  for (var i = 0; i < rawData.length; i++) {
      time.push(rawData[i][0]);
      zxj.push(rawData[i][1]);
      sf.push(rawData[i][2]);
  }
  return {
      time: time,
      zxj: zxj,
      sf: sf
  };
}
// $.getJSON('http://rmapi.niupixuan.me/v1/interest/bili?symbol=gbpusd',function(data){
$.getJSON('/static/json/data-ddqzb-index.json',function(rawData){
    var data = splitData(rawData);
    var myChart = echarts.init(document.getElementById('main'));
    myChart.setOption(option = {
        animation: false,
        legend: {
            right: '2%',
            top:'40%',
            orient:'vertical',
            data: ['最新价', '算法']
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'line'
            }
        },
        grid: [
            {
                left: '10%',
                right: '8%',
                height: '35%'
            },
            {
                left: '10%',
                right: '8%',
                top: '45%',
                height: '35%'
            }
        ],
        xAxis: [
            {
                type: 'category',
                data: data.time,
                scale: true,
                boundaryGap : false,
                axisLine: {onZero: false},
                splitLine: {show: true},
                // splitNumber: 20,
                min: 'dataMin',
                max: 'dataMax'
            },
            {
                type: 'category',
                gridIndex: 1,
                data: data.time,
                scale: true,
                boundaryGap : false,
                axisLine: {onZero: false},
                axisTick: {show: false},
                splitLine: {show: true},
                axisLabel: {show: true},
                splitNumber: 20,
                min: 'dataMin',
                max: 'dataMax'
            }
        ],
        yAxis: [
            {
                scale: true,
                splitArea: {
                    show: true
                }
            },
            {
                scale: true,
                gridIndex: 1,
                // data:data.sf,
                splitNumber: 2,
                axisLabel: {show: false},
                axisLine: {show: false},
                axisTick: {show: false},
                splitLine: {show: false}
            }
        ],
        dataZoom: [
            {
                type: 'inside',
                xAxisIndex: [0,1],
                start: 98,
                end: 100
            },
            {
                show: true,
                xAxisIndex: [0,1],
                type: 'slider',
                top: '85%',
                start: 98,
                end: 100
            }
        ],
        series: [
            {
                name: '最新价',
                type: 'line',
                data: data.zxj,
                smooth: true,
            },
            {
                name: '算法',
                type: 'line',
                xAxisIndex: 1,
                yAxisIndex: 1,
                data: data.sf
            }
        ]
    }, true);
  });
  </script>
{% endblock %}
