{% extends "../common/layout_home.html" %}

{% block css %}
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
{% endblock %}

{% block js %}
<script src="https://a.alipayobjects.com/jquery/jquery/1.11.1/jquery.js"></script>
<script src="http://cdn.bootcss.com/echarts/3.3.2/echarts.common.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
{% endblock %}

{% block connect %}
<a href="javascript:;" id="prev">上一页</a>
<a href="javascript:;" id="next">下一页</a>
<div id="main1" style="height:400px;"></div>
<script>
var geturl=GetRequest();
var p = geturl.page || 0;
$("#next").on('click',function(){
    if (p < 1){
        return false;
    }
    p--;
    console.log(p);
    getJSONData(p);
});

$("#prev").on('click',function(){
    p++;
    getJSONData(p);
    console.log(p);
})

function GetRequest() {
  var url = location.search; //获取url中"?"符后的字串
   var theRequest = new Object();
   if (url.indexOf("?") != -1) {
      var str = url.substr(1);
      strs = str.split("&");
      for(var i = 0; i < strs.length; i ++) {
         theRequest[strs[i].split("=")[0]]=(strs[i].split("=")[1]);
      }
   }
   return theRequest;
}

var myChart1 = echarts.init(document.getElementById('main1'));
function splitData(rawData) {
  var time = [];
  var xqqzz = [];
  var xhqzz = [];
  for (var i = 0; i < rawData.length; i++) {
      time.push(rawData[i][0]);
      xqqzz.push(rawData[i][1]);
      xhqzz.push(rawData[i][2]);
  }
  return {
      time: time,
      xqqzz: xqqzz,
      xhqzz: xhqzz
  };
}

function getJSONData(p){
  myChart1.showLoading({
    text: '加载数据，请稍候。',
    color: 'red',
  });
  // $.getJSON('http://192.168.1.118:8012/v1/interest/duodan?page='+ p+'&symbol=gold',function(rawData){
  $.getJSON('http://{{hostname}}:8012/v1/interest/duodan?page='+ p+'&symbol=gold',function(rawData){
  // $.getJSON('http://192.168.1.118:8012/v1/interest/duodan?page='+ p+'&symbol=gbpusd',function(rawData){
  // $.getJSON('http://192.168.1.118:8012/v1/interest/duodan?page='+ p +'&symbol=eurusd',function(rawData){

    var data = splitData(rawData);
    // console.log(data.time[0]);
    (function (){
      if (data.time[0] === '2016-11-28 02:30:27') {
        document.getElementById("prev").style.display = "none";
      };
    })();
  　(function (){
      if (data.time[0] !== '2016-11-28 02:30:27') {
        document.getElementById("prev").style.display = "inline-block";
      };
  　})();
    myChart1.hideLoading();
    myChart1.setOption(option = {
        animation: false,
        title: {
            text: '历史权重比（黄金）',
            left: 'center',
        },
        legend: {
            right: '8%',
            top:'8%',
            data: ['息前权重值','息后权重值'],
        },
        tooltip: {
            trigger: 'axis',
            transitionDuration:0,//无延迟显示。
            axisPointer: {
                type: 'line'
            },
        },
        grid: [
            {
                left: '10%',
                right: '8%',
                height: '60%',
            },
        ],
        xAxis: [
            {
                data: data.time,
                boundaryGap : false,
                axisLine: {onZero: false},
                splitLine: {show: true},
                axisTick: {show :true},
                axisLabel:{
                  show:true,
                  margin : 18,
                },
            },
        ],
        yAxis: [
            {
                scale: true,
                splitArea: {
                    show: true,
                },
            },
        ],
        dataZoom: [
            {
                type: 'inside',
                start: 0,
                end: 100,
            },
            {
                show: true,
                type: 'slider',
                top: '90%',
                start: 0,
                end: 100,
            },
        ],
        series: [
            {
                name: '息前权重值',
                type: 'line',
                data: data.xqqzz,
                itemStyle:{
                  normal:{
                    color:'green',
                  },
                },
            },
            {
                name: '息后权重值',
                type: 'line',
                data: data.xhqzz,
                itemStyle:{
                  normal:{
                    color:'blue',
                  },
                },
            },
        ]
    }, true);
  })
};
getJSONData(0);
  setTimeout(function (){
    window.onresize = function () {
      myChart1.resize();
    }
  },200)

  </script>
{% endblock %}
