{% extends "../common/layout_home.html" %}


{% block css %}
<link rel="stylesheet" type="text/css" href="https://os.alipayobjects.com/rmsportal/UBXCMkzNVlaZYNs.css">
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
{% endblock %}

{% block js %}
<script src="https://a.alipayobjects.com/jquery/jquery/1.11.1/jquery.js"></script>
<script src="https://a.alipayobjects.com/g/datavis/g2/2.1.5/g2.js"></script>
<script src="https://as.alipayobjects.com/g/datavis/g-plugin-range/0.0.9/index.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
{% endblock %}

{% block connect %}
<div id="c1"></div>
<div id="range"></div>
<style>
  #range {
    position: absolute!important;
    top: 460px;
    margin: 5px 80px;
  }
</style>
<script>
  //$.getJSON('http://rmapi.niupixuan.me/v1/interest/percent?symbol=eurusd&limit=all',function(data){
  $.getJSON('http://rmapi.niupixuan.me/v1/interest/percent',function(data){
  //$.getJSON('../../www/static/json/data-temp.json',function(data){
    for(var i=0;i<data.length;i++) {
      var item = data[i];
      var NEWDATE = item.NEWDATE;
      item.NEWDATE = new Date(NEWDATE).getTime();
    }
    var Frame = G2.Frame;
    var frame = new Frame(data);
    frame = Frame.combinColumns(frame, ["息前手数", '息前次数','息后手数','息后次数'], 'value', '类型', 'NEWDATE');
    var chart = new G2.Chart({
      id: 'c1',
      width : 1000,
      //forceFit={true}//宽度自动
      height : 500,
      plotCfg: {
        margin: [20, 120, 80, 80]
      }
    });
    chart.source(frame, {
      NEWDATE: {
      type: 'timeCat',
      nice: false,
      mask: 'yyyy-mm-dd H:MM:ss',
      tickCount: 6
      },
      value: {
        alias: ' '
      }
    });
    chart.axis('NEWDATE', {
      tickLine: {
        stroke: '#000',
        value: 6
      },
      title: null
    });
    chart.axis('value', {
      tickLine: {
        stroke: '#000',
        value: 6
      },
      labels: {
        label: {
          fill: '#000'
        }
      },
      line: {
        stroke: '#000'
      },
      grid: null
    });
    chart.line().position('NEWDATE*value').color('类型', ['#1f77b4', '#ff7f0e', '#2ca02c','#A020F0']).shape('spline').size(2);
    chart.render();
    var range = new G2.Plugin.range({
      id: "range",
      width: 840,
      height: 26,
      dim: 'NEWDATE'
    });
    range.source(frame);
    range.link([chart]);
    range.render();
  });
</script>
{% endblock %}
