{% extends "../common/layout_home.html" %}

{% block css %}
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
{% endblock %}

{% block js %}
<script src="https://a.alipayobjects.com/jquery/jquery/1.11.1/jquery.js"></script>
<script src="http://cdn.bootcss.com/echarts/3.3.2/echarts.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
{% endblock %}

{% block connect %}
<div id="main" style="height:400px;"></div>
<script>
var myChart = echarts.init(document.getElementById('main'));
myChart.showLoading({
  text:'加载数据，请稍候。',
  color:'red',
})
function splitData(rawData) {
    var categoryData = [];
    var values = [];
    for (var i = 0; i < rawData.length-1; i++) {
    // for (var i=rawData.length-2;i>=0;i--) {
        categoryData.push(rawData[i].splice(0, 1)[0]);
        values.push(rawData[i].splice(0, 4))
    }
    console.log(categoryData);
    return {
        categoryData: categoryData,
        values: values
    };
}
myChart.setOption({
    title: {
      text: '吞没（1小时）',
      left: 'center'
    },
    tooltip: {
        trigger: 'axis',
        axisPointer: {
            type: 'line'
        }
    },
    legend: {
        data: ['']
    },
    grid: {
        left: '10%',
        right: '10%',
        bottom: '15%'
    },
    xAxis: {
        type: 'category',
        data: [],
        scale: true,
        boundaryGap : false,
        axisLine: {onZero: false},
        splitLine: {show: false},
        splitNumber: 20,
        min: 'dataMin',
        max: 'dataMax'
    },
    yAxis: {
        scale: true,
        splitArea: {
            show: true
        }
    },
    dataZoom: [
        {
            type: 'inside',
            start: 80,
            end: 100
        },
        {
            show: true,
            type: 'slider',
            y: '90%',
            start: 80,
            end: 100
        }
    ],
    series: [
        {
            name: '',
            type: 'candlestick',
            data: [],
        }
      ]
  });
// setInterval(function(){
  $.get('http://192.168.1.118:8012/v1/interest/kxian', function (rawData) {
  var data0 = splitData(rawData);
  myChart.hideLoading();
  myChart.setOption({
      xAxis: {
              data: data0.categoryData,
          },
      series: [
          {
              name: '',
              data: data0.values,
          }
        ]
  });
  });
// },600000)
setTimeout(function (){
    window.onresize = function () {
      myChart.resize();
    }
  },200)
</script>
{% endblock %}
